* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/dark_space.jpg") no-repeat center center/cover
    fixed;
  padding: 0;
  background-color: #0a0f2f;
  color: #ffffff;
}

section {
	overflow: hidden;
}

p, .list-group-item {
	font-size: 1.5rem;
}

header,
footer {
  margin: 0;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(135deg, #0a0f2f, #1f2c40);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  color: #ffffff;
}

header {
  font-size: 4vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-picture {
  width: 13vh;
  height: 13vh;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 4vh;
  border: 0.5vh solid #ffffff;
}

header h1 {
  font-size: 6vh;
}

.social-links a {
  color: #ffffff;
  margin: -5px 10px;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 6vh;
}

.social-links a:hover {
  color: navy;
}

/* Bio */

.highlight {
  font-weight: bold;
  text-shadow: -2px 2px 5px #000080;
}

/* Timeline */

.timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0;
  position: relative;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #e9ecef;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
  padding: 1.7em;
  position: relative;
  width: 100%;
}

.timeline-item .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  background-color: #999999;
  z-index: 100;
  border-radius: 50%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.timeline-item .timeline-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: rgba(31, 28, 44, 0.8);
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  width: 45%;
  position: relative;
  margin-top: 2rem;
}

.timeline-item .timeline-content img {
  width: 100%;
  margin-bottom: 10px;
  border-radius: 8px;
}

.timeline-title,
.timeline-timestamp {
  text-align: center;
}

.project-links {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.project-links > a {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

/* Education */ 

.sub-section {
	font-family: cursive;
	font-size: 2em;
}

.post-link {
  color: lightblue;
  font-weight: bold;
  text-decoration: none;
}

.post-link:hover {
  color: #0a0f2f;
}

.arrow {
  transition: transform 0.3s ease;
}

.arrow:hover {
  transform: translate(0.5vw, -0.5vw);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .timeline-item .timeline-content {
    width: 90%;
  }
}

@media (max-width: 576px) {
  .timeline-item .timeline-content {
    width: 100%;
  }
}

/* Top Soft Skills */

.soft-skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.soft-skills-section h2 {
	align-self: flex-start;
}

.soft-skills-cross {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 80vw;
  height: 70vmin;
  margin-top: 2rem;
}

.soft-skill-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  position: absolute;
}

.soft-skill-item:nth-child(1) {
  top: 0;
}

.soft-skill-item:nth-child(2) {
  right: 0;
}

.soft-skill-item:nth-child(3) {
	bottom: 0;
}

.soft-skill-item:nth-child(4) {
	left: 0;
}

.soft-circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20vmin;
  height: 20vmin;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	color: black;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

@media (max-width: 768px) {
  .soft-skills-cross {
    height: 300px;
  }

  .soft-circle {
    width: 80px;
    height: 80px;
  }
}

@media (max-width: 576px) {
  .soft-skills-cross {
    height: 200px;
  }

  .soft-circle {
    width: 60px;
    height: 60px;
    font-size: 1rem;
  }
}

/* Top Technical Skills */

.tc-skill-card {
  background: rgba(31, 28, 44, 0.8);
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.tc-skill-card:hover {
  transform: translateY(-10px);
}

.tc-skill-card .icon {
  font-size: 3rem;
  color: #ffffff;
}

.tc-skill-card h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.tc-skill-item {
  background-color: #ffffff;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-size: 16px;
  color: #333;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.tc-skill-item i {
  color: #28a745;
  margin-right: 10px;
  font-size: 18px;
}

.icon i {
  font-size: 24px;
  color: #007bff;
}

/* Footer */
footer {
	font-size: 1.5em;
}
