* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("../images/dark_space.jpg") no-repeat center center/cover
    fixed;
  background-color: #0a0f2f;
  color: #ffffff;
}

header,
main,
footer {
  width: 110vw;
}

header,
footer {
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: linear-gradient(135deg, #0a0f2f, #1f2c40);
  animation: gradient 5s ease infinite;
  background-size: 400% 400%;
  font-size: 4vh;
  color: #ffffff;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.profile-picture {
  width: 13vh;
  height: 13vh;
  object-fit: cover;
  border-radius: 50%;
	margin-bottom: 4vh;
  border: 0.5vh solid #ffffff;
}

header h1 {
  font-size: 6vh;
}

.social-links a {
  color: #ffffff;
  margin: -5px 10px;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 6vh;
}

.social-links a:hover {
  color: navy;
}

.highlight {
  font-weight: bold;
  text-shadow: -2px 2px 5px #000080;
}

/* Timeline */

.timeline {
  list-style: none;
  padding: 20px 0;
  position: relative;
  margin: 0;
}

.timeline:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  width: 2px;
  background: #e9ecef;
  left: 50%;
  margin-left: -1px;
}

.timeline-item {
  margin-top: 4rem;
  padding: 0.2em 1.7em;
  position: relative;
  width: 100%;
}

.timeline-item:before,
.timeline-item:after {
  content: "";
  display: table;
}

.timeline-item:after {
  clear: both;
}

.timeline-item .timeline-badge {
  color: #fff;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 1.4em;
  text-align: center;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -25px;
  background-color: #999999;
  z-index: 100;
  border-radius: 50%;
}

.timeline-item .timeline-content {
  margin-left: 30px;
  background: rgba(31, 28, 44, 0.8);
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  position: relative;
  width: 45%;
}

.timeline-title,
.timeline-timestamp {
  text-align: center;
}
.timeline-item.timeline-inverted .timeline-content {
  margin-right: 30px;
  margin-left: auto;
}

.project-links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.project-links > a {
  width: 100%;
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

.post-link {
  color: lightblue;
  font-weight: bold;
  text-decoration: none;
}

.post-link:hover {
  color: #0a0f2f;
}

.arrow {
  transition: transform 0.3s ease;
}
.arrow:hover {
  transform: translate(0.5vw, -0.5vw);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .timeline:before {
    left: 8%;
  }

  .timeline-item .timeline-badge {
    left: 8%;
  }

  .timeline-item .timeline-content {
    width: calc(100% - 90px);
    margin-left: 60px;
    margin-right: 0;
  }

  .timeline-item.timeline-inverted .timeline-content {
    margin-left: 60px;
    margin-right: 0;
  }
}

@media (max-width: 576px) {
  .timeline:before {
    left: 5%;
  }

  .timeline-item .timeline-badge {
    left: 5%;
  }

  .timeline-item .timeline-content {
    width: calc(100% - 70px);
    margin-left: 50px;
    margin-right: 0;
  }

  .timeline-item.timeline-inverted .timeline-content {
    margin-left: 50px;
    margin-right: 0;
  }
}

/* Skill Cards */

.skill-card {
  background: rgba(31, 28, 44, 0.8);
  color: #ffffff;
  border-radius: 8px;
  padding: 20px;
  transition: transform 0.3s ease;
}

.skill-card:hover {
  transform: translateY(-10px);
}

.skill-card .icon {
  font-size: 3rem;
  color: #ffffff;
}

.skill-card h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 1.5rem;
}

.skill-item {
  background-color: #ffffff;
  margin: 10px;
  border-radius: 15px;
  border: 1px solid #ddd;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  font-size: 16px;
  color: #333;
  padding: 20px;
  position: relative;
  display: flex;
  align-items: center;
}

.skill-item i {
  color: #28a745;
  margin-right: 10px;
  font-size: 18px;
}

.icon i {
  font-size: 24px;
  color: #007bff;
}
